* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  overflow: hidden;
}

@font-face {
  font-family: "Foregen";
  src: local("Foregen"),
    url("./fonts/The\ Foregen\ Rough\ One.ttf") format("truetype");
  /* font-weight: bold; */
}

.font-face-gm {
  font-family: "Foregen";
}

@font-face {
  font-family: "TribalBox";
  src: local("TribalBox"),
    url("./fonts/The_Tribal_Box_demo-font-FFP.ttf") format("truetype");
  /* font-weight: bold; */
}

.font-face-tb {
  font-family: "TribalBox";
}
