.container {
  /* background: lightblue; */
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.menu-container {
  /* background: lightblue; */
  display: flex;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  color: whitesmoke;
  /* border-bottom: white; */
  /* border-bottom-width: 2px; */
}
.menu-item {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Foregen";
  cursor: pointer;
  border-bottom: white;
  border-bottom-width: 1px;
  /* border-bottom-style: solid; */
  background: rgb(0, 0, 0, 0.3);
  /* border-radius: 10px;
}
.card-content {
  /* color: whitesmoke; */
  color: white;
  font-family: "Foregen";
  padding: 10px;
}

.card-header {
  color: whitesmoke;
  font-size: 50px;
  padding-left: 10px;
  font-family: "Foregen";
}
.card-design {
  margin-bottom: 30px;
  height: 600px;
  /* background-color: thistle; */
  color: whitesmoke;
  font-family: "Foregen";
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
}
.deck {
  position: absolute;
  width: 80%;
  height: 60%;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: black;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80vw;
  max-width: 80vw;
  height: 85vh;
  max-height: 80vh;
  will-change: transform;
  border-radius: 10px;
  border-color: white;

  border-style: solid;
  border-width: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4);

  overflow: auto;
}
